html {
  -font-size: 300px
  align-content: center;
}

* {
    margin-top: 0;
}

  a:link {
  color: brown;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  color: rgba(0, 0, 0, 0.5)
}

a:active {
  color: black;
  color: rgba(0, 0, 0, 0.5)
}

body.category-ticker {
background-color: grey;
color: green;
font-size: 50px;
}

h1{
  color: white;
  font-family: "Gist";
  -border: 20px solid orange;
  margin-left: 200px;
  margin-right: 200px;
  padding:50px;
  font-size: 1000px
}

h2{
  color: white;
  font-family: "Gist";
  -border: 20px solid orange;
  margin-left: 200px;
  margin-right: 200px;
  padding:50px;
  font-size: 250px;
  background-color: none;
  text-align: center;
}

h3{
  color: white;
  font-family: "Gist";
  text-decoration-style: wavy;
  -border: 20px solid orange;
  margin-left: 200px;
  margin-right: 200px;
  padding:0px;
  font-size: 20px;
  background-color: none;
  text-align: left;
}

h4{
  color: white;
  font-family: "Times";
  text-decoration-style: wavy;
  -border: 20px solid orange;
  margin-left: 200px;
  margin-right: 200px;
  padding:0px;
  font-size: 19px;
  background-color: none;
  text-align: left;
}

p{
color: white;
  font-family:"Gist";
  background-color: none;
  margin-left: 200px;
  margin-right: 200px;
  padding:50px;
  text-align: center;
  font-size: 200px;
}

body{
  background-color:brown;
background-image: linear-gradient(
    black,brown);
  font-family: "Gist";
  color: white;
}

img {
  border: 20px solid brown;
  width: 50%;
  height: 50%;
  margin-left: 400px;
  margin-right: 400px;
  padding:50px;
}
